
  <article>
      <div class="container">
          <div class="image">
              <img src="@thumb" alt="@title" />
          </div>
          <div class="text">
              <h1>@title</h1>
              @person
              <p class="date"><span>Episode @episode</span> &nbsp;&bull;&nbsp; @date</p>
              <iframe src="https://simplecast.fm/e/@simplecast_id?style=light" frameborder="0" height="36" scrolling="no" seamless width="100%"></iframe>
          </div>
          <div class="show_notes">
              @content
          </div>
  </article>