<article>
	<div class="container">
		<div class="image">
			<a href="@permalink"><img src="@thumb" alt="@title" /></a>
		</div>
		<div class="text">
			<h1><a href="@permalink">@title</a></h1>
			@person
			<iframe src="https://simplecast.fm/e/@simplecast_id?style=light" frameborder="0" height="36" scrolling="no" seamless width="100%"></iframe>
			<p class="date"><span>Episode @episode</span><br>@date</p>
			<p class="description">@description</p>
			<p class="show_notes_link"><a href="@permalink">View Show notes</a></p>
		</div>
	</div>
</article>
