get '/' do
    foreach $root do
      <article>
          <div class="container">
              <div class="image">
                  <a href="@permalink"><img src="@thumb" alt="@title" /></a>
              </div>
              <div class="text">
                  <h1><a href="@permalink">@title</a></h1>
                  @person
                  <p class="date"><span>Episode @episode</span> &nbsp;&bull;&nbsp; @date</p>
                  <iframe src="https://simplecast.fm/e/@simplecast_id?style=light" frameborder="0" height="36" scrolling="no" seamless width="100%"></iframe>
                  <p><a href="@permalink" class="show_show_notes">View Show notes</a></p>
              </div>
      </article>
    endforeach
end