

<header>
	<div class="container">
		<div class="left">
			<a href="http://@base_url" class="logo"><i class="icon"></i></a>
			<h1><a href="http://@base_url">Mag Heroes</a></h1>
			<p>Chats with people who make and love magazines.</p>
		</div>
		<div class="right">
			<h2 class="subscribe">Subscribe</h2>
			<p><a href="http://itunes.apple.com/gb/podcast/mag-heroes/id764915895" title="Subscribe to Mag Heroes in iTunes">iTunes</a> <a href="http://soundcloud.com/magheroes" title="Listen to Mag Heroes on SoundCloud">SoundCloud</a> <a href="http://magheroes.net/feed" title="The Mag Heroes feed">Feed</a></p>
		</div>
	</div>
</header>
