/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}

figure {position: relative;}
figure img {width: 100%;}


/*	Typography presets
	------------------	*/

html { -webkit-text-size-adjust: none; }

body {
    font-family: Roboto, sans-serif;
    font-size-adjust:0.45;
    font-weight:normal;
    font-style:normal;
    color: #403f3f;
    font-size: 16px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 { margin-bottom: 1em; }
h1 { font-size: 22px; line-height: 1em; }
h2 { font-size: 19px; line-height: 1em; }
h3 { font-size: 17px; line-height: 1.2em; }
h4 { font-size: 17px; margin-bottom: 8px; }

a, a:link, a:visited { color: inherit; }
a:hover { color: #999; }

.about p+p {
    margin-top: 1.2em;
}

h4.sponsor {
	margin-top: 30px;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
}

ul {
    margin-left: 1em;
}
ul li {
    margin-left: 2.2em;
}

blockquote {
    margin: 2em;
    padding: 2em;
    font-weight: normal;
    border: 3px solid;
}

/* Selection colours */

::selection 	 	{
    background-color: rgba(255,255,255,0.8);
}
::-moz-selection 	{
    background-color: rgba(255,255,255,0.8);
}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgba(255,255,255,0.8);}


/* Forms */
input {
    font-size: inherit;
    padding: 6px;
    font-family: inherit;
}
input[type=submit] {
    -webkit-appearance: none;
    border: 0;
    padding: 6px;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
    background: #18a262;
}


/* Mobile Layout */

hr { clear: both; margin: 40px 0; background-color: white; border: 1px solid #ebebeb; border-style: none none solid; color: white; }

.container {
    margin: auto;
    padding: 0 10px;
    text-align: center;
}

header {
	padding: 20px 0;
    overflow: hidden;
}
header h1 {
	display: inline-block;
    margin: 10px 0 13px;
    width: 203px;
	height: 23px;
	background: url(name.png) no-repeat;
	background-size: 100%;
	text-indent: -999px;
}
header h1 a {
	display: block;
	width: 100%;
	height: 100%;
}
header .logo .icon {
	display: inline-block;
	margin: 0 9px -9px 0;
	width: 30px;
	height: 36px;
	background: url(icon.png) no-repeat center top;
	background-size: contain;
}
header h2 a {
    font-size: 0.7em;
}
header h1 a:link,
header h1 a:hover {
    text-decoration: none;
}
header h1 a:hover {
    text-decoration: underline;
}
header p {
	margin: auto;
	width: 200px;
    font-size: 14px;
	font-weight: 300;
	line-height: 1.3;
}
header .right {
	margin-top: 12px;
}
header h2.subscribe {
	display: inline;
	margin-right: 5px;
	font-family: Intro;
	font-size: 14px;
	font-weight: 400;
}
header h2.subscribe ~ p {
	display: inline;
}
header h2.subscribe ~ p a {
	margin-left: 3px;
}

.links {
    padding: 14px 10px 16px;
    border-bottom: 1px solid #18a262;
    text-align: center;
}
.links ul, footer ul {
    margin: 0;
    list-style: none;
}
.links ul li, footer ul li {
    margin: 0;
    display: inline;
    margin: 0 7px;
}
footer .links {
    border-color: #aaa;
}
.links a:link, .links a:visited { color: #18a262; }
.links a:hover { color: #1e714b; }

article,
section#page {
	margin-bottom: 20px;
    padding: 40px 0;
    text-align: center;
}
article.hero {
	padding-top: 0;
	background: #eee;
}
article.hero .left {
	padding: 20px 20px 0;
}
article.hero #hero-image {
	height: 300px;
	background-size: cover;
	background-position: center;
}
article .image {
    margin-bottom: 14px;
}
article .image img {
    width: 150px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
article h1 {
    margin-bottom: 6px;
    font-size: 30px;
    font-weight: 900;
}
article h2 {
    font-size: 18px;
    font-weight: 400;
}
article .date {
    color: #828282;
}
article .date span {
    font-weight: 700;
}
article iframe {
    margin: 0 auto 4px;
    width: 90%;
}
article .description {
	color: #666;
	line-height: 1.3;
}
article .description,
article.hero .right {
	display: none;
}
#episode article .show_notes_link {
    display: none;
}
/* Episode page */
article.single {
	padding: 0;
}
article.single .head {
	background: #f2f2f2;
}
article.single .head .profile {
	max-width: 100%;
}
article.single .head .thumb {
	margin-top: 20px;
	max-width: 45%;
}
article.single .head img,
article.single .head iframe {
	margin-bottom: 20px;
}
article.single .head iframe {
	margin-top: 10px;
}
article.single .left {
	margin: 30px 0;
}
article.single .right {
	margin: auto;
	max-width: 400px;
}
article.single .right ul {
	margin-left: 0;
}
article.single .right {
	text-align: left;
	font-size: 14px;
	color: #666;
}
article.single .right h2 {
	margin: 30px 0 10px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
}
article.single div.ad {
	margin: 40px auto;
	max-width: 200px;
}
article.single div.ad img {
	width: 100%;
}

#page .container {
    max-width: 500px;
}
#page .container p, #page .container ul {
    text-align: left;
}
#page p, #page ul {
	margin-bottom: 1.2em;
}


.container #newsletter p {
    text-align: center;
}

footer {
    padding-bottom: 20px;
	font-size: 14px;
}
footer .container {
    margin-top: 40px;
}
footer ul {
    margin-top: 6px;
}



/* Large Layout */

@media only screen and (min-width: 620px) {

    h1 {
        font-size: 30px;
    }
    .links ul li, footer ul li {
        /*margin: 0 12px;*/
    }
    section#page {
        padding: 60px 0;
    }
	header .container,
	article .container {
		position: relative;
		margin: auto;
		padding: 0 20px;
		max-width: 720px;
		overflow: hidden;
		text-align: left;
		box-sizing: border-box;
	}

	/* Header */
	header {
		padding: 30px 0 35px;
	}
	header .left {
		float: left;
		width: 70%;
	}
	header .logo .icon {
		float: left;
		margin-right: 15px;
		width: 51px;
		height: 62px;
	}
	header h1 {
		margin: 6px 0 3px;
		width: 270px;
		height: 30px;
	}
	header p {
		width: auto;
	}
	header h1 ~ p {
		float: left;
		margin: -8px 0 0 66px;
	}
	header .right {
		float: right;
		margin-top: 0;
		padding-top: 29px;
		text-align: center;
	}
	header h2.subscribe {
		display: block;
		margin: 0;
	}

	/* Episodes list */
	article {
		padding: 0 0 70px;
		overflow: hidden;
	}
	article.hero {
		position: relative;
		background: none;
	}
	article .image,
	article .text {
		float: left;
		margin-bottom: 30px;
	}
	article .image {
		width: 24%;
		margin-right: 6%;
	}
	article .image img {
		width: 100%;
	}
	article .text {
		padding-top: 4px;
		width: 70%;
	}
	#episode article .text {
		padding-top: 20px;
	}
	article h1 {
		font-size: 34px;
	}
	article h2 {
		font-size: 20px;
	}
	article h2 a {
		font-style: italic;
	}
	article iframe {
		margin-bottom: 12px;
		width: 100%;
	}
	article .description {
		display: block;
	}
	article:not(.hero) .date {
		font-size: 15px;
		text-align: center;
	}
	article ~ article:not(.hero) .date {
		position: absolute;
		left: 0;
		top: 185px;
		padding-left: 20px;
		width: 23%;
	}
	article .show_notes_link {
		margin-top: 6px;
		font-size: 15px;
	}

	/* Hero */
	article.hero #hero-image {
		height: 400px;
	}
	article.hero .box {
		overflow: hidden;
		background: #fff;
		border: 1px solid #555;
		margin: -60px 5% 0;
		width: 90%;
		max-width: 740px;
		text-align: left;
		padding: 30px;
		box-sizing: border-box;
	}
	article.hero .left {
		float: left;
		padding: 0;
		width: 70%;
		font-size: 18px;
	}
	article.hero .right {
		display: block;
		float: right;
		width: 18%;
	}
	article.hero .cover {
		width: 100%;
	}
	article.hero .ad {
		margin: 0 5%;
		width: 90%;
	}
	article.hero .date {
		position: absolute;
	}

	/* Episode */
	article.single .head {
		margin: 20px -20px 50px;
		text-align: center;
	}
	article.single .head:not(.simple) iframe {
		width: 60%;
	}
	article.single .head img,
	article.single .head iframe {
		margin-bottom: 35px;
	}
	article.single .head.simple {
		padding: 35px 20px 20px;
		overflow: hidden;
	}
	article.single .head.simple .photo {
		float: left;
		width: 30%;
	}
	article.single .head.simple .thumb {
		margin: 0;
		max-width: 100%;
	}
	article.single .head.simple .info {
		float: right;
		padding-top: 50px;
		width: 63%;
		text-align: left;
	}
	article.single .left {
		float: left;
		margin: 0;
		width: 28%;
	}
	article.single .right {
		width: 63%;
		max-width: none;
		float: right;
		font-size: 16px;
	}
	article.single .right h2 {
		font-size: 16px;
	}
	article.single div.ad {
		position: absolute;
		width: 27%;
	}


	footer .container {
		margin-top: 90px;
	}

}



@media only screen and (min-width: 760px) {

	article.hero #hero-image {
		height: 500px;
	}

}

/* Full size */

@media only screen and (min-width: 800px) {

	article.hero .box {
		margin-left: auto;
		margin-right: auto;
	}

}


@media only screen and (min-width: 1000px) {

	article.hero #hero-image {
		height: 600px;
	}
}
