/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}

figure {position: relative;}
figure img {width: 100%;}


/*	Typography presets
	------------------	*/

html { -webkit-text-size-adjust: none; }

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size-adjust:0.45;
    font-weight:normal;
    font-style:normal;
    color: #403f3f;
    font-size: 16px;
    line-height: 1.2em;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 { margin-bottom: 1em; }
h1 { font-size: 22px; line-height: 1em; }
h2 { font-size: 19px; line-height: 1em; }
h3 { font-size: 17px; line-height: 1.2em; }
h4 { font-size: 17px; margin-bottom: 8px; }

a, a:link, a:visited { color: inherit; }
a:hover { color: #1e714b; }

.about p+p {
    margin-top: 1.2em;
}

ul {
    margin-left: 1em;
}
ul li {
    margin-left: 2.2em;
}

blockquote {
    margin: 2em;
    padding: 2em;
    font-weight: normal;
    border: 3px solid;
}

/* Selection colours */

::selection 	 	{
    background-color: rgba(255,255,255,0.8);
}
::-moz-selection 	{
    background-color: rgba(255,255,255,0.8);
}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgba(255,255,255,0.8);}


/* Mobile Layout */

.container {
    margin: auto;
    padding: 0 10px;
    text-align: center;
}

header {
    height: 300px;
    background: #18a262;
    color: #fff;
    overflow: hidden;
}
header h1 {
    margin: 44px auto 30px;
    width: 300px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 70px;
    line-height: 65px;
}
header h2 {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 400;
}
header h1 a:link, header h1 a:hover {
    color: #fff;
    text-decoration: none;
}
header h1 a:hover {
    text-decoration: underline;
}
header p {
    font-size: 14px;
}

.links {
    padding: 14px 10px 16px;
    border-bottom: 1px solid #18a262;
    text-align: center;
}
.links ul, footer ul {
    margin: 0;
    list-style: none;
}
.links ul li, footer ul li {
    margin: 0;
    display: inline;
    margin: 0 7px;
}
footer .links {
    border-color: #aaa;
}
.links a:link, .links a:visited { color: #18a262; }
.links a:hover { color: #1e714b; }

article, section.about {
    padding: 40px 0;
    border-bottom: 1px solid #aaa;
    text-align: center;
}
article .image {
    margin-bottom: 14px;
}
article .image img {
    width: 150px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
article h1 {
    margin-bottom: 6px;
    font-size: 30px;
    font-weight: 900;
}
article h2 {
    font-size: 18px;
    font-weight: 400;
}
article .date {
    color: #828282;
}
article .date span {
    font-weight: 700;
}
article iframe {
    margin: 20px 0 4px;
    width: 75%;
}
article .show_show_notes {
    display: none;
    font-weight: 700;
    font-size: 14px;
}
article .show_notes {
    text-align: left;
    padding: 0 5%;
    margin-top: 1em;
}
article .show_notes p, article .show_notes ul {
    margin-bottom: 1.2em;
}
article .show_notes h2 {
    margin-bottom: 0.5em;
    font-weight: 700;
}
article .show_notes ul {
    margin-left: 0;
}
article .show_notes ul li {
    margin-bottom: 2px;
    margin-top: 2px;
}

.about {
    background: #f3f3f3;
}
.about .container {
    width: 75%;
    max-width: 500px;
}

footer {
    padding-bottom: 20px;
}
footer .links {
    margin-bottom: 20px;
}
footer ul {
    margin-top: 6px;
}

/* Large Layout */

@media only screen and (min-width: 620px) {
    
    .links ul li, footer ul li {
        margin: 0 12px;
    }
    article, section.about {
        padding: 60px 0;
        overflow: hidden;
    }
    article .container {
        margin: auto;
        max-width: 600px;
        overflow: hidden;
        text-align: left;
    }
    article .image, article .text {
        float: left;
        margin-bottom: 30px;
    }
    article .image {
        margin-right: 40px;
    }
    article .image img {
        width: 200px;
    }
    article .text {
        width: 360px;
        padding-top: 20px;
    }
    article h1 {
        font-size: 34px;
    }
    article h2 {
        font-size: 20px;
    }
    article iframe {
        margin-bottom: 12px;
        margin-top: 26px;
        width: 100%;
    }
    article .show_show_notes {
        font-size: 16px;
    }
    article .show_notes {
        overflow: hidden;
        clear: left;
        padding: 0;
    }
    
    
}