<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><html><![endif]-->

    <head>
    	<meta charset="utf-8"/>
    	<link href="/favicon.png" rel="shortcut icon" type="image/x-icon">
    	<title>Mag Heroes Podcast</title>
    	<meta name="description" content="@tagline" />
    	<meta name="keywords" content="" />
		<meta name='viewport' content='width=device-width, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no' />
		<link href='http://fonts.googleapis.com/css?family=Intro:400,700|Roboto:300,400,400italic,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://@base_url/style.css" type="text/css" />
		<link href="@rss" rel="alternate" title="Mag Heroes RSS" type="application/rss+xml" />
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    </head>

    <body>

        :header

        <section id="episodes">
            :episodes-list
        </section>

        <footer>
            <div class="container">
                :footer
            </div>
        </footer>


        <script type="text/javascript">
        window.onresize = resize;
        window.onload = resize();
        function resize(event) {
            var hero_image = document.getElementById('hero-image');
            if (window.innerWidth >= 620) {
                hero_image.style.backgroundImage = hero_image.style.backgroundImage.replace('profile.', 'hero.');
            } else {
                hero_image.style.backgroundImage = hero_image.style.backgroundImage.replace('hero.', 'profile.');
            }
        };
        </script>

        :analytics

	</body>

</html>
