<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><html><![endif]-->

    <head>
    	<meta charset="utf-8"/>
    	<title>Mag Heroes Audio Show</title>
    	<meta name="description" content="" />
    	<meta name="keywords" content="" />
		<meta name='viewport' content='width=device-width, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no' />
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900|Raleway:400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://@base_url/style.css" type="text/css" />
		<link href="@rss" rel="alternate" title="Mag Heroes RSS" type="application/rss+xml" />
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    </head>

    <body>
        
        <header>
            <div class="container">
                <h1 class="logo"><a href="http://@base_url">Mag Heroes</a></h1>
                <h2>Chats with magazine makers</h2>
                <p><a href="http://@base_url">&laquo; Back to the Episodes</a></p>
            </div>
        </header>
        
        <div class="links container">
            :links
        </div>
        
        <section id="page">
            <div class="container">
                <h1>@title</h1>
                
                @content
            </div>
        </section>
                
        <footer>
            <div class="links">
                :links
            </div>
            <div class="container">
                :footer
            </div>
        </footer>
        
        :analytics
        
	</body>
	
</html>
